/* GOOGLEFONT1: Roboto, GOOGLEFONT2: Oswald */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Oswald', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

section, article, aside {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Oswald', sans-serif;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row color */
}

table img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

table tr {
    height: 140px
}

table td {
    vertical-align: middle;
    padding: 15px;
}
/* Footer */
footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

/* FONTAWESOME1, FONTAWESOME2 Styling */
i {
    color: #ff4500;
    font-size: 32px;
    margin-right: 10px;
}
