/* GOOGLEFONT1: Lobster */
/* GOOGLEFONT2: Raleway */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
header {
    background-color: #178434;
    color: white;
    padding: 20px;
    font-family: 'Lobster', cursive;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    display: inline-block;
    background-color: #178434;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #7ccc97;
}
section, article, aside {
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
th {
    background-color: darkgray;
}
.odd-row {
    background-color: lightgray;
}
.even-row {
    background-color: white;
}
footer {
    background-color: #178434;
    color: white;
    padding: 10px;
    margin-top: 20px;
}